body {
  font-family: Arial, Helvetica, sans-serif;
}


.nav-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  
  /* פס לכל האורך */
}


.home {
  background-color: rgb(165, 184, 235);
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.moving-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: bold;
  color:white;

  animation: moveSideToSide 90s linear infinite;
}

@keyframes moveSideToSide {
  0% { left: 0; }
  50% { left: calc(100% - 100px); }
  100% { left: 0; }
}

.circle {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  animation: moveCircle 20s linear infinite;
}

.circle-1 {
  width: 100px;
  height: 100px;
  top: 20%;
  left: 10%;
  animation-duration: 25s;
}

.circle-2 {
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  animation-duration: 30s;
}

.circle-3 {
  width: 80px;
  height: 80px;
  top: 80%;
  left: 70%;
  animation-duration: 20s;
}

@keyframes moveCircle {
  0% { transform: translateY(0) translateX(0); }
  50% { transform: translateY(100px) translateX(100px); }
  100% { transform: translateY(0) translateX(0); }
}

.nav-link {
  flex-grow: 1;
  text-align: center;
  background-color: rgb(165, 184, 235)  ;
}

.nav-link button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  transition: color 0.3s;
}

.nav-link button:hover {
  color: #161616;
}

.nav-link button.active {
  font-weight: bold;
  text-decoration: underline;
  color: black;
  text-decoration-color:black;
}

.main-header {

  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  /* background-color:  rgb(165, 184, 235); */
}

.site-logo {
  font-size: 24px;
  color: #333;
  text-decoration: none;
}



/* contact */
.contact-container {
  margin-left: 35%;
  margin-right: 35%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: center;
}

/* .contact-title {
  margin-bottom: 20px;
  text-align: center;
} */

.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.contact-form label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - 80px);
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  align-self: flex-end;
}

.contact-form button:hover {
  background-color:black;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
}

.contact-info div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-info span {
  margin-right: 10px;
  font-size: 24px;
}

.about-us-container {
  background-color:black;
  color: white;
 padding-top: 16px;
 padding-bottom: 16px;
}

.about-us {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 20px;
}

.site-logo-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  /* אפשר להתאים לפי גודל התמונה */
  max-width: 600px;
  /* הגבלה על רוחב התמונה */
  height: auto;
  /* שמירת פרופורציות התמונה */
  padding: 20px 0;
  /* רווח מעל ומתחת לתמונה */
}


.event-list {
  padding-top: 30px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
 
  /* Space between the event tiles */
}

.eventDetails{
  display: none;
  position: absolute;
  transition: opacity 0.3s ease;
  top: 0;
}

.event-tile {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  position: relative;
  display: inline-block;
  overflow: hidden;
  border:inset 6px black;
  padding: 16px;
  width: calc(25% - 20px);
  box-sizing: border-box;
  background-color: white;
  text-decoration: none;
  color: inherit;
}

.event-tile img {
  transition: transform 0.3s ease;
  object-fit: cover;
  width: 100%;
  height: 200px;
  /* border-radius: 8px; */
  /* margin-bottom: 8px; */
  transform-origin: center right; ;
}
.event-tile:hover img {
  /* transform: scaleX(0.65); */
  transform: scaleX(0.65);
}

.event-tile:hover .eventDetails {
  display: block;
  opacity: 1;
}

.event-info {
  box-sizing: border-box;
  margin: 8px 0;
  font-size: 14px;
  color: #333;
}

.see-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.see-more-button:hover {
  background-color: #0056b3;
}
.footer{
  text-align: center;
  font-size: 20px;
  background-color:black;
  color: white;
 padding-top: 16px;
 padding-bottom: 16px;
}
.pEventName{
  font-weight: bold;
  font-size: 20px;
  padding-top: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.pEventDate{
  font-weight: bold;
  font-size: 30px;
  color:black;
  /* padding-top: 15px; */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.pEventDetails{
  font-weight: bold;
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.buttonTicketHere{
  color:white;
  background-color:  rgb(205, 79, 117);
  margin-left: 5%;
  font-size: 25px;
  border-radius: 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px rgba(219, 203, 203, 0.5);
}