.nav-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd; /* פס לכל האורך */
}

.nav-link {
  flex-grow: 1;
  text-align: center;
}

.nav-link button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  transition: color 0.3s;
}

.nav-link button:hover {
  color: #161616;
}

.nav-link button.active {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
  text-decoration-color: rgb(127, 205, 179);
}

.main-header {
  
  justify-content: space-between; 
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.site-logo {
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

 .nav-header1 {
 
  justify-content: center; 
  display: flex;
  gap: 20px;
}

.nav-link1 {
  text-decoration: none;
  color: #333;
  font-size: 16px;
} 

.nav-link1:hover {
  text-decoration: underline;
  color: #161616;
}

.nav-link1.active {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
  text-decoration-color: rgb(127, 205, 179);
} 

/* contact */
.contact-container {
  margin-top: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.contact-title {
  margin-bottom: 20px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.contact-form label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - 80px);
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  align-self: flex-end;
}

.contact-form button:hover {
  background-color: #45a049;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
}

.contact-info div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-info span {
  margin-right: 10px;
  font-size: 24px;
}

.site-logo-image {
  display: block;
  margin: 0 auto;
  width: 100%; /* אפשר להתאים לפי גודל התמונה */
  max-width: 600px; /* הגבלה על רוחב התמונה */
  height: auto; /* שמירת פרופורציות התמונה */
  padding: 20px 0; /* רווח מעל ומתחת לתמונה */
}

