.nav-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd; /* פס לכל האורך */
}

.nav-link {
  flex-grow: 1;
  text-align: center;
}

.nav-link button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  transition: color 0.3s;
}

.nav-link button:hover {
  color: #161616;
}

.nav-link button.active {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
  text-decoration-color: rgb(127, 205, 179);
}

.main-header {
  
  justify-content: space-between; 
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.site-logo {
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

 .nav-header1 {
 
  justify-content: center; 
  display: flex;
  gap: 20px;
}

.nav-link1 {
  text-decoration: none;
  color: #333;
  font-size: 16px;
} 

.nav-link1:hover {
  text-decoration: underline;
  color: #161616;
}

.nav-link1.active {
  font-weight: bold;
  text-decoration: underline;
  color: #161616;
  text-decoration-color: rgb(127, 205, 179);
} 

