.about-us-container {
    background-color: black;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  .about-us {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 20px;
  }
  