.auditorium-map-container {
    text-align: center; /* מרכז את האלמנטים באופן אופטימלי */
}

.auditorium-part {
    cursor: pointer; /* שינוי סגנון העכבר כשהוא נמצא מעל הרכיבים */
    transition: fill 0.3s ease; /* אנימציה קלה עבור מילוי הרכיב */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.auditorium-part:hover {
    fill:  rgb(205, 79, 117); /* שינוי מילוי כאשר העכבר נמצא מעל הרכיב */
    stroke-width: 2px; /* גודל קו גבול הרכיב */
}
.textMap{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
