.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 10px;
  }
  
  .input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    text-align: center;
  }
  
  .footer-login {
    text-align: center;
    margin-top: 20px;
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
  }
  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  /* ProducerLogin.css */
.email-container {
  position: relative;
}

.email-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.email-input {
  width: 100%;
  padding-right: 90px; /* מרווח כדי שהטקסט המושלם לא יעלה על הטקסט המוקלד */
}

.email-suffix {
  position: absolute;
  right: 10px;
  color: #ccc; /* צבע אפור לטקסט המושלם */
  pointer-events: none; /* שלא יפריע בהקלדה */
}

  