.new-event {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px; /* להרחיב את המסגרת הכללית */
  
}

.exit-button {
  background-color: #7fcbd3;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px 7px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 30px; /* הכפתור יופיע בצד שמאל */
}

.stages {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 40px; /* להוסיף רווח מלמעלה */
}

.stage {
  width: 100px; /* להקטין את גודל העיגולים */
  height: 100px; /* להקטין את גודל העיגולים */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  cursor: pointer;
  font-size: 14px; /* להקטין את גודל הטקסט בעיגולים */
}

.stage.active {
  background-color: #7fcbd3;
  color: white;
}

.stage-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* ליישר למרכז האופקי */
  margin-top: 50px; /* להוסיף רווח בין העיגולים לתוכן */
  border: 3px solid #7fcbd3; /* להוסיף מסגרת */
  border-radius: 10px; /* להוסיף פינות מעוגלות */
  padding: 20px; /* להוסיף ריווח פנימי */
}


.stage-content label {
  margin-bottom: 10px;
}

.stage-content input,
.stage-content select,
.stage-content textarea {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  width: 100%; /* להרחיב את השדות */
  max-width: 600px; /* להוסיף רוחב מקסימלי לשדות */
  font-family: Arial, Helvetica, sans-serif;
}

.stage-content button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #7fcbd3;
  color: white;
  border: none;
  cursor: pointer;
  position: relative; /* For the tooltip */
}

.stage-content button:hover {
  background-color: #7fcbd3;
}

.stage-content .submit-button{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #7fcbd3;
  color: white;
  border: none;
  cursor: pointer;
  position: relative; /* For the tooltip */
  border-radius: 20px; /* Rounded corners */
}

.react-time-picker {
  width: 100%;
}

.react-time-picker__wrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.react-time-picker__inputGroup {
  font-size: 1rem;
}

.react-time-picker__clear-button,
.react-time-picker__clock-button {
  display: none;
}

/* סגנון כללי להודעת הצלחה */
.success-message {
  padding: 20px;
  background-color: #dff0d8; /* צבע רקע ירוק בהיר */
  color: #3c763d; /* צבע טקסט ירוק כהה */
  border: 1px solid #d6e9c6; /* מסגרת ירוקה בהירה */
  border-radius: 4px; /* פינות מעוגלות */
  font-size: 24px; /* גודל טקסט */
  text-align: center; /* טקסט מיושר למרכז */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* צל לתיבה */
  max-width: 600px; /* רוחב מקסימלי */
  margin: 50px auto; /* מרכוז האופקי של התיבה */
}

.success-message strong {
  font-size: 28px; /* גודל טקסט בולט */
}

.error-message {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
   visibility: hidden; 
  white-space: nowrap; /* Make sure the message doesn't break into a new line */
  font-size: 14px; /* Smaller font size for better fit */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Slight shadow for better visibility */
}

.error-message.show {
  /* opacity: 1; Remove opacity */
  visibility: visible; /* Add visibility to show the message */
}



.stage-content .next-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #7fcbd3;
  color: white;
  border: none;
  cursor: pointer;
  position: relative; /* For the tooltip */
  border-radius: 20px; /* Rounded corners */
}


.stage-content .time-picker-group {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.stage-content .time-picker {
  flex: 1;
}

.image-preview img {
  max-width: 100%;
  max-height: 300px;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  width: 300px;
  height: 300px; /* גובה הריבוע המקווקו */
  margin: 20px auto;
  text-align: center;
  position: relative;
}

.dropzone p {
  margin-top: 10px;
  font-size: 16px;
}

.image-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  max-height: 200px;
}


/* Media query for smartphones */
@media (max-width: 600px) {
  .stages {
    /* flex-direction: column; */
    align-items: center;
  }

  .stage {
    width: 60px; /* להקטין את גודל העיגולים */
    height: 60px; /* להקטין את גודל העיגולים */
    font-size: 12px; /* להקטין את גודל הטקסט בעיגולים */
    margin-bottom: 10px; /* להוסיף רווח בין העיגולים */
  }

  .dropzone {
    width: 250px;
    height: 250px; /* להקטין את גובה הריבוע המקווקו */
  }

  .image-preview {
    margin-top: 30px;
  }

  .stage-content input,
  .stage-content select,
  .stage-content textarea {
    max-width: 100%; /* להבטיח שהשדות לא יעברו את רוחב המסך */
  }
}



