.payment-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin-top: 50px;
}

.payment-title {
  text-align: center;
  margin-bottom: 20px;
}

.payment-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message-payment {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.btn-primary {
  background-color: #7fcbd3; /* רקע ירוק */
  color: white; /* צבע טקסט לבן */
  border: none; /* אין גבול */
  padding: 10px 20px; /* מרווחים פנימיים */
  text-align: center; /* יישור טקסט למרכז */
  text-decoration: none; /* אין קישור דיגיטלי */
  display: inline-block; /* הצגה ככפתור */
  font-size: 16px; /* גודל פונט */
  margin-right: 30px; /* מרווח מימין */
  cursor: pointer; /* מחוון יד */
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}



