.producer-home {
    padding: 20px;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* אין רווח תחתון */
  }
  
  .nav-bar-line {
    width: 100%;
    height: 2px;
    background-color: #d3d3d3; /* קו אפור */
    margin-bottom: 20px; /* רווח מתחת לקו */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* צל כלפי מטה יותר ארוך */
}
  
  
  .prod-title {
    text-align: center;
    margin-top: 50px; /* העברתי את ההזחה למטה יותר */
  }
  
  .button-container {
    display: flex;
    gap: 10px; /* Adjust spacing between buttons */
  }
  
  .add-event-button {
    background-color: #7fcbd3;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px; /* עיגול יותר */
    margin-top: 50px;
  }
  
  .add-event-button:hover {
    background-color: #50c9d6;
  }

  .content{
    display: flex;
  flex-direction: column;
  align-items: center; /* מרכז את התוכן באמצע העמוד */
  }

  .prod-p{
    margin-top: 130px;
  }
  